{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": true  
    }
  },
  "env": {
    "node": true
  },
  "extends": ["prettier", "plugin:node/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "consistent-return": "off",
    "promise/catch-or-return": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "req|res|next|val" }],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "tabWidth": 2
      }
    ]
  }
}
